#header .logo img {
  max-height: 80px;
  width: 80px;
  height: auto;
}
.selected-lang-img{
  margin-left: 5px;
    margin-right: 5px;
}

.lang-menu  {
  display: flex !important;
  justify-content: flex-start !important;   
  white-space: nowrap !important;  
  position: relative !important;
  flex-wrap: nowrap !important;

}
 
.lang-menu-name{
 
  margin-left: 5px;
  margin-right: 5px;
}
.inner-page-sec{
 
 padding-top: 10px !important; 
 
}
.about-content{
 
  padding-top: 20px !important; 
  
 }